In [1]:
import os
os.getcwd()

'C:\\Users\\user'

In [2]:
import pandas as pd

In [3]:
# Raw Data Loading
mnist = pd.read_csv('./mnist_train.csv')

In [4]:
mnist.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
mnist.describe()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
count,60000.000000,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,...,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.0000,60000.0,60000.0,60000.0,60000.0
mean,4.453933,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.200433,0.088867,0.045633,0.019283,0.015117,0.0020,0.0,0.0,0.0,0.0
std,2.889270,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.042472,3.956189,2.839845,1.686770,1.678283,0.3466,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,254.000000,254.000000,253.000000,253.000000,254.000000,62.0000,0.0,0.0,0.0,0.0

In [6]:
y_data= mnist['label']

In [7]:
y_data.head()

0    5
1    0
2    4
3    1
4    9
Name: label, dtype: int64

In [8]:
X_data = mnist.drop('label', axis = 1, inplace=False)

In [9]:
X_data.head()

,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,1x10,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [17]:
scaler = MinMaxScaler()
scaler.fit(X_data)
X_norm_data = scaler.transform(X_data)

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X_norm_data, y_data, test_size=0.2)

In [19]:
X_train.shape

(48000, 784)

In [14]:
# model ì„¤ì •

In [15]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Flatten, Dense
from tensorflow.keras.optimizers import SGD

In [20]:
model = Sequential()

In [21]:
model.add(Flatten(input_shape=(784,))) # input Layer
model.add(Dense(units=10, activation= 'softmax'))

In [22]:
model.compile(optimizer = SGD(learning_rate=0.001), loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [20]:
model.fit(X_train,y_train, epochs=10, verbose=1, validation_split=0.2)

Epoch 1/10
1200/1200 [==============================] - 1s 904us/step - loss: 1.8856 - accuracy: 0.4484 - val_loss: 1.5032 - val_accuracy: 0.6927
Epoch 2/10
1200/1200 [==============================] - 1s 820us/step - loss: 1.2983 - accuracy: 0.7422 - val_loss: 1.1299 - val_accuracy: 0.7793
Epoch 3/10
1200/1200 [==============================] - 1s 820us/step - loss: 1.0316 - accuracy: 0.7945 - val_loss: 0.9421 - val_accuracy: 0.8111
Epoch 4/10
1200/1200 [==============================] - 1s 791us/step - loss: 0.8855 - accuracy: 0.8173 - val_loss: 0.8300 - val_accuracy: 0.8279
Epoch 5/10
1200/1200 [==============================] - 1s 825us/step - loss: 0.7933 - accuracy: 0.8306 - val_loss: 0.7551 - val_accuracy: 0.8347
Epoch 6/10
1200/1200 [==============================] - 1s 819us/step - loss: 0.7296 - accuracy: 0.8384 - val_loss: 0.7015 - val_accuracy: 0.8408
Epoch 7/10
1200/1200 [==============================] - 1s 905us/step - loss: 0.6826 - accuracy: 0.8446 - val_loss: 0.6607 - val_accuracy: 0.8465
Epoch 8/10
1200/1200 [==============================] - 1s 842us/step - loss: 0.6463 - accuracy: 0.8495 - val_loss: 0.6286 - val_accuracy: 0.8509
Epoch 9/10
1200/1200 [==============================] - 1s 816us/step - loss: 0.6173 - accuracy: 0.8541 - val_loss: 0.6023 - val_accuracy: 0.8551
Epoch 10/10
1200/1200 [==============================] - 1s 803us/step - loss: 0.5935 - accuracy: 0.8580 - val_loss: 0.5810 - val_accuracy: 0.8585

In [24]:
model.evaluate(X_test , y_test)

375/375 [==============================] - 0s 671us/step - loss: 1.8943 - accuracy: 0.4608

[1.8943004608154297, 0.460833340883255]

In [25]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 flatten (Flatten)           (None, 784)               0

 dense (Dense)               (None, 10)                7850

=================================================================
Total params: 7,850
Trainable params: 7,850
Non-trainable params: 0
_________________________________________________________________