## 사용자 입력 input( ) 알아보기
- 출력값이 문자열이다

In [4]:
num = 5
day = 3

print(f"I ate {num} apples. So I was sick {day} days.")

I ate 5 apples. So I was sick 3 days.

In [11]:
num = input("몇 개 먹었나요?")
day = input("몇일:")

print(f"I ate {num} apples. So I was sick {day} days.")

몇 개 먹었나요? 5
몇일: 2

I ate 5 apples. So I was sick 2 days.

In [14]:
a = input("숫자를 입력해 주세요: ")
b = input("숫자를 입력해 주세요: ")

숫자를 입력해 주세요:  1234
숫자를 입력해 주세요:  432

In [15]:
a + b

'1234432'

input 함수는 입력 값을 str 으로 저장

In [16]:
int(a)

1234

In [17]:
int(a) + int(b)

1666

In [19]:
a = int(input("숫자를 입력해 주세요: "))
b = int(input("숫자를 입력해 주세요: "))

숫자를 입력해 주세요:  123
숫자를 입력해 주세요:  456

In [20]:
a + b

579

In [26]:
# 입력받은 수를 11로 나눈 나머지를 알고싶다.
num = int(input("입력할 수"))
print(f"{num}을 11로 나눈 나머지는 {n % 11} 입니다")

입력할 수 13

13을 11로 나눈 나머지는 2 입니다

In [29]:
# 이름과 나이를 입력 받아서
#"나의 이름은 000이고 나이는 00살 입니다"

name = input("이름: ")
age = input("나이: ")
print(f"나의 이름은 {name}이고 나이는 {age}살 입니다")

이름:  홍길동
나이:  13세[

나의 이름은 홍길동이고 나이는 13세[살 입니다

# 제어문

## if 문

```
if 조건:
    실행될 문장1
    실행될 문장2
else:
    실행될 문장1
```

In [33]:
if 1 < 2:
    print("Yes")

Yes

In [34]:
if 1 > 2:
    print("Yes")

In [36]:
if 1 > 2:
    print("Yes")
else:
    print("no")

no

In [106]:
if a == 1:
    print("yes")
elif a == 2:
    print("two")
else:
    print("three")

three

```
    x <  y : x가 y보다 작다
    x >  y : x가 y보다 크다
    x == y : x와 y가 같다
    x != y : x와 y가 같지않다
    x >= y : x가 y보다 크거나 같다
    x <= y : x가 y보다 작거나 같다
```

In [38]:
# 입력받아서 짝수이면 짝수입니다. 홀수이면 홀수입니다를 출력
num = int(input("숫자를 입력해 주세요"))
if num % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

숫자를 입력해 주세요 2

짝수입니다.

In [40]:
# 온도를 입력받아서 30도 이상이면 "여름입니다."
# 20도 이상이면 "가을입니다."
# 0도 이상이면 "봄입니다.
# 0도 이하이면 "겨울입니다."

temp = int(input("온도를 입력해주세요: "))

if temp >= 30:
    print("여름입니다.")
elif temp >= 20:
    print("가을입니다.")
elif temp >= 0:
    print("봄 입니다.")
else:
    print("겨울 입니다.")

온도를 입력해주세요:  25

가을입니다.

```
    x or y : x와 y 둘중 하나만 참이어도 참이다
    x and y: x 와 y 모두 참이여야 한다
    not x  : x가 거짓이면 참이다
```

- A in B 의 형태

In [43]:
pocket = ["bill", "coins", "card"]
if "bill" in pocket:
    print("Taxi")
elif "coins" in pocket:
    print("Bus")
else:
    print("Walk")

Taxi

## for 문

In [46]:
for i in [1, 2, 3]:
    print(i)
    print( i*10)

1
10
2
20
3
30

In [47]:
for i in [1, 2, 3]:
    print("yes")

yes
yes
yes

In [48]:
for i in [1, 2, 3]:
    print(i)
    print("yes")
print("no")

1
yes
2
yes
3
yes
no

In [51]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [53]:
range(10)

range(0, 10)

In [54]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [60]:
list(range(1,11, 2))

[1, 3, 5, 7, 9]

In [61]:
list(range(1,11, 3))

[1, 4, 7, 10]

In [56]:
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [71]:
# 1부터 10까지 사이의 모든 짝수를 출력해 주세요

for i in range(1,100,2):
    print(i+1, end = ' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [81]:
for i in [1,2]:
    for j in ["a", "b", "c"]:
        print(i,j)

1 a
1 b
1 c
2 a
2 b
2 c

In [105]:
for i in range(2,10):
    print(f"<{i}단>")
    for j in range(1,10):
        print(f"{i} X {j} = {i*j}")
    print()

<2단>
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

<3단>
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

<4단>
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

<5단>
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

<6단>
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

<7단>
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

<8단>
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

<9단>
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81